.information{
    text-align: justify;
}

.slime{
    width: 100%;
    height: 300px;
    background-image: url(img/chrisbgocrazy.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.kid{
    width: 100%;
    height: 200px;
    background-image: url(img/chrisbkid.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

a.intermedia{
    color: rgb(255, 255, 255);
    background-color: #1b1b1b;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}
a.discos{
    color: rgb(255, 255, 255);
    font-weight: bold;
}

p{
    font-size: 18px;
}

.lista{
    font-size: 18px;
}
.font{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 1px;
}

.headfont{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-weight: 600;
}

.welcomefont h1{
    color: black;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    font-size: 52px;
    letter-spacing: 2px;
}

.welcomefont p{
    color: black;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    letter-spacing: 1px;
}

.warning{    
    background-color: #283e57;
    color: rgb(255, 255, 255);
    text-align: justify;
    font-weight: 500;
}

.discografia{  
    background-image: url("img/chrisbport5.jpg");
    height: auto;
    background-attachment: fixed;
    background-size: contain;
    background-position: 0 150px;
}

.li{
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(116, 116, 116, 0.205);
    width: 350px;
    max-width: 100%;
    font-size: 18px;
}

.musicli{
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(116, 116, 116, 0.205);
    width: 100%;
    font-size: 18px;
}

.videointro video{
    position: relative;
    object-fit: cover;
    height: 250px;
    width: 100%;
}

.videomedia video{
    width: 100%;
    height: 300px;
}

.lookatme img{
    width: 100%;
    height: 200px;
}

audio{
    width: 100%;
}

.footer p{
    font-size: 16px;
}

.footer h3{
    font-size: 18px;
}